# AWS Amplify Configuration
NEXT_PUBLIC_AWS_PROJECT_REGION=eu-north-1
NEXT_PUBLIC_AWS_COGNITO_REGION=eu-north-1
NEXT_PUBLIC_AWS_USER_POOLS_ID=eu-north-1_MVwkbI87K
NEXT_PUBLIC_AWS_USER_POOLS_WEB_CLIENT_ID=18b21rcmp9f1sl3q7v0pcrircf

# App Configuration
NEXT_PUBLIC_APP_NAME=MioSaaS
NEXT_PUBLIC_APP_URL=https://api.teknicaimpianti.sr